.logo{
    display: block;
    height: 270px;
    z-index: 1;
}

@media (max-width:480px){
    .logo{
        display: none;
    }

}@media (max-width:768px){
    .logo{
        display: block;
        z-index: -1;
        width: 200px;
    }
}