.logo{
    display: block;
    height: 250px;
    z-index: 1;
}

.background{
    
    background-image: linear-gradient(to right, #243748 , #4b749f);
    /* background-image: url("./pexels-gradienta-7130475.jpg"); */
    /* background-size: cover; */
    z-index: 100;

}


@media (max-width:480px){
    .logo{
        display: none;
    }

}@media (max-width:768px){
    .logo{
        display: block;
        z-index: -1;
        width: 200px;
    }
}